<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580496482257-dpkp8484ctsp74qjblscmve2hof01o54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580496482257-dpkp8484ctsp74qjblscmve2hof01o54</string>
	<key>API_KEY</key>
	<string>AIzaSyCvwjVCFCGniNnbdwAJDWmZVepBFls-gY0</string>
	<key>GCM_SENDER_ID</key>
	<string>580496482257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.epickThreeHogFb</string>
	<key>PROJECT_ID</key>
	<string>epick-three-hog</string>
	<key>STORAGE_BUCKET</key>
	<string>epick-three-hog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580496482257:ios:8e2b15ae465c038efdcaf0</string>
</dict>
</plist>